.DS_Store
server/.venv/
.DS_Store
__pycache__
app.egg-info
*.pyc
.mypy_cache
.cache
.venv
.DS_Store
.env

flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

